# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [68]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [160]:
air_bnb = pd.read_csv('AB_NYC_2019.csv')
air_bnb.head(20)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6
11,5441,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2,188,2019-06-23,1.50,1,39
12,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,2019-06-24,1.34,3,314
13,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,2019-07-05,0.91,1,333
14,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
15,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,2019-06-29,1.20,1,46
16,7097,Perfect for Your Parents + Garden,17571,Jane,Brooklyn,Fort Greene,40.69169,-73.97185,Entire home/apt,215,2,198,2019-06-28,1.72,1,321
17,7322,Chelsea Perfect,18946,Doti,Manhattan,Chelsea,40.74192,-73.99501,Private room,140,1,260,2019-07-01,2.12,1,12
18,7726,Hip Historic Brownstone Apartment with Backyard,20950,Adam And Charity,Brooklyn,Crown Heights,40.67592,-73.94694,Entire home/apt,99,3,53,2019-06-22,4.44,1,21
19,7750,Huge 2 BR Upper East Cental Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7,0,NaN,NaN,2,249

In [162]:
# How many neighborhood groups are available and which shows up the most?

air_bnb['neighbourhood_group'].value_counts(ascending=False)

# air_bnb.groupby('neighbourhood_group').neighbourhood_group.count().sort_values(ascending = False)

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [161]:
# Are private rooms the most popular in manhattan?

air_bnb[air_bnb['neighbourhood_group'] == 'Manhattan'].groupby('room_type').count()

# air_bnb.groupby([['air_bnb.neighbourhood_group'] == "Manhattan'].count().sort_values(ascending= False)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
room_type,,,,,,,,,,,,,,,
Entire home/apt,13199,13193,13199,13196,13199,13199,13199,13199,13199,13199,13199,9967,9967,13199,13199
Private room,7982,7979,7982,7976,7982,7982,7982,7982,7982,7982,7982,6309,6309,7982,7982
Shared room,480,480,480,480,480,480,480,480,480,480,480,356,356,480,480

In [159]:
# Which hosts are the busiest and based on their reviews?

# air_bnb['number_of_reviews'].value_counts(ascending=False)

# air_bnb.groupby('host_name')['number_of_reviews'].max().sort_values(ascending= False)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,total reviews
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,1138005
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,1138005
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365,1138005
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,1138005
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,1138005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9,1138005
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36,1138005
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27,1138005
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2,1138005
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23,1138005

In [192]:
#Which neighorhood group has the highest average price?

# air_bnb_neighbourood_groups = air_bnb.groupby(['neighbourhood_group'])
# air_bnb_neighbourood_groups.mean()

air_bnb.groupby(['neighbourhood_group']).mean().sort_values('price', ascending = False)

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,
Manhattan,1.877494e+07,6.783062e+07,40.765062,-73.974607,196.875814,8.579151,20.985596,1.272131,12.791330,111.979410
Brooklyn,1.825685e+07,5.671526e+07,40.685036,-73.951190,124.383207,6.056556,24.202845,1.283212,2.284371,100.232292
Staten Island,2.159747e+07,9.853360e+07,40.610225,-74.105805,114.812332,4.831099,30.941019,1.872580,2.319035,199.678284
Queens,2.175500e+07,9.615680e+07,40.731531,-73.872775,99.517649,5.181433,27.700318,1.941200,4.060184,144.451818
Bronx,2.273492e+07,1.056099e+08,40.848305,-73.884552,87.496792,4.560953,26.004583,1.837831,2.233731,165.758937

In [193]:
# Which neighbor hood group has the highest total price?
air_bnb.groupby(['neighbourhood_group']).sum().sort_values('price', ascending = False)

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,
Manhattan,406683958152,1469279004836,883012.01680,-1.602364e+06,4264527,185833,454569,21158.08,277073,2425586
Brooklyn,367035792483,1140203577483,817931.96821,-1.486715e+06,2500600,121761,486574,21104.98,45925,2015070
Queens,123263814259,544824426112,230784.85597,-4.185631e+05,563867,29358,156950,8879.05,23005,818464
Bronx,24803796188,115220380205,44565.50071,-8.060805e+04,95459,4976,28371,1609.94,2437,180843
Staten Island,8055857451,36753031930,15147.61383,-2.764147e+04,42825,1802,11541,587.99,865,74480

In [205]:
#Which top 5 hosts have the highest total price?

sorted_data = air_bnb.sort_values('price', kind = 'quicksort',ascending = False).head(5)
sorted_data.reset_index(drop=True)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
9151,7003697,Furnished room in Astoria apartment,20582832,Kathrine,Queens,Astoria,40.76810,-73.91651,Private room,10000,100,2,2016-02-13,0.04,1,0
17692,13894339,Luxury 1 bedroom apt. -stunning Manhattan views,5143901,Erin,Brooklyn,Greenpoint,40.73260,-73.95739,Entire home/apt,10000,5,5,2017-07-27,0.16,1,0
29238,22436899,1-BR Lincoln Center,72390391,Jelena,Manhattan,Upper West Side,40.77213,-73.98665,Entire home/apt,10000,30,0,NaN,NaN,1,83
40433,31340283,2br - The Heart of NYC: Manhattans Lower East ...,4382127,Matt,Manhattan,Lower East Side,40.71980,-73.98566,Entire home/apt,9999,30,0,NaN,NaN,1,365
12342,9528920,"Quiet, Clean, Lit @ LES & Chinatown",3906464,Amy,Manhattan,Lower East Side,40.71355,-73.98507,Private room,9999,99,6,2016-01-01,0.14,1,83

In [210]:
# Who currently has no (zero) availability with a review count of 100 or more?

air_bnb[(air_bnb.availability_365 == 0) & (air_bnb.number_of_reviews == 0)]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
26,8700,Magnifique Suite au N de Manhattan - vue Cloitres,26394,Claude & Sophie,Manhattan,Inwood,40.86754,-73.92639,Private room,80,4,0,NaN,NaN,1,0
193,51438,1 Bedroom in 2 Bdrm Apt- Upper East,236421,Jessica,Manhattan,Upper East Side,40.77333,-73.95199,Private room,130,14,0,NaN,NaN,2,0
267,64015,Prime East Village 1 Bedroom,146944,David,Manhattan,East Village,40.72807,-73.98594,Entire home/apt,200,3,0,NaN,NaN,1,0
276,65556,"Room in S3rd/Bedford, Williamsburg",320422,Marlon,Brooklyn,Williamsburg,40.71368,-73.96260,Private room,60,3,0,NaN,NaN,1,0
390,118680,Spacious East Village apt near it all,599354,Bobby,Manhattan,East Village,40.73067,-73.98702,Private room,87,2,0,NaN,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48550,36313048,Sunny room with private entrance in shared home,16883913,Tiffany,Queens,Ridgewood,40.69919,-73.89902,Private room,45,1,0,NaN,NaN,1,0
48731,36410519,Sunlight charming apt. in the heart of Brooklyn,121384174,Luciana Paula,Brooklyn,Park Slope,40.66716,-73.98101,Entire home/apt,111,8,0,NaN,NaN,1,0
48756,36419441,Murray Hill Masterpiece,273824202,David,Manhattan,Murray Hill,40.74404,-73.97239,Entire home/apt,129,2,0,NaN,NaN,1,0
48760,36420725,"Sunnyside, Queens 15 Mins to Midtown Clean & C...",19990280,Brandon,Queens,Sunnyside,40.74719,-73.91919,Private room,46,1,0,NaN,NaN,1,0
48779,36424776,Queen size bedroom in two bed apt with great l...,13384464,Hollie,Brooklyn,Bedford-Stuyvesant,40.69617,-73.94198,Private room,50,3,0,NaN,NaN,1,0

In [215]:
# What host has the highest total of prices and where are they located?


air_bnb.groupby(['host_name']).sum().sort_values('price', ascending = False)

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,
Sonder (NYC),10885561678,71782340547,13316.25823,-24198.18856,82795,4353,1281,397.56,106929,98588
Blueground,7210036953,24924786136,9451.60418,-17166.13165,70331,7470,29,6.04,53824,58884
Michael,7430617239,22673153604,16984.89137,-30841.28573,66895,4600,11081,475.82,1043,38888
David,7943862898,28633613354,16414.34392,-29804.53757,65844,3754,8103,508.61,907,44171
Alex,5496620312,19850092761,11361.10533,-20635.86235,52563,1651,6204,443.44,475,30031
...,...,...,...,...,...,...,...,...,...,...
Carolann,16927533,3737986,40.70588,-74.01590,12,300,0,0.00,1,0
Vishanti & Jeremy,21869057,11967922,40.72421,-73.95364,10,1,93,4.73,1,32
Salim,24114389,180661875,40.76844,-73.98333,10,1,2,0.13,1,0
Qiuchi,20933849,13709292,40.75091,-73.97597,0,3,0,0.00,1,0
Aymeric,20624541,10132166,40.70838,-73.94645,0,5,3,0.15,1,73

In [237]:
# When did Danielle from Queens last receive a review?

air_bnb.loc[air_bnb['host_name'] == 'Danielle'].sort_values(by = 'last_review', ascending = False)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
22469,18173787,Cute Tiny Room Family Home by LGA NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76380,-73.87238,Private room,48,1,436,2019-07-08,16.03,5,337
21517,17222454,Sun Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76367,-73.87088,Private room,48,1,417,2019-07-07,14.36,5,338
20403,16276632,Cozy Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76335,-73.87007,Private room,48,1,510,2019-07-06,16.22,5,341
5717,4163781,Sun Soaked & Cozy PR Williamsburg,1401835,Danielle,Brooklyn,Williamsburg,40.71007,-73.95653,Private room,99,3,19,2019-07-06,0.33,3,354
29546,22686497,"Backyard BK! Live like a NY’er in modern, new ...",24124835,Danielle,Brooklyn,Bedford-Stuyvesant,40.68860,-73.92937,Entire home/apt,130,4,53,2019-07-06,3.66,2,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16349,13151075,ASTORIA APARTMENT OUTDOOR SPACE,18051286,Danielle,Queens,Astoria,40.77221,-73.92901,Private room,50,1,0,NaT,NaN,1,0
34760,27552582,Studio in the Heart of East Village,30680112,Danielle,Manhattan,East Village,40.72951,-73.98576,Entire home/apt,120,2,0,NaT,NaN,1,39
37221,29570887,"LARGE ROOM ‘N CLINTON HILL, Brooklyn, w / LAUN...",24124835,Danielle,Brooklyn,Bedford-Stuyvesant,40.68652,-73.95412,Private room,60,25,0,NaT,NaN,2,100
43825,33901005,"Sunny, Spacious, Cozy, Charming Brooklyn Abode",192752,Danielle,Brooklyn,Park Slope,40.67599,-73.97664,Entire home/apt,145,5,0,NaT,NaN,1,38
48533,36310353,Staten Island Resort minutes from ferry! Amazi...,28586423,Danielle,Staten Island,Stapleton,40.62878,-74.07301,Entire home/apt,450,5,0,NaT,NaN,1,88

## Further Questions

1. Which host has the most listings?

In [242]:

air_bnb.groupby(['host_name']).sum().sort_values('calculated_host_listings_count', ascending = False)

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,
Sonder (NYC),10885561678,71782340547,13316.25823,-24198.18856,82795,4353,1281,397.56,106929,98588
Blueground,7210036953,24924786136,9451.60418,-17166.13165,70331,7470,29,6.04,53824,58884
Kara,1981276355,4544361074,5827.31420,-10579.90583,36723,3839,324,14.82,14679,39273
Kazuya,3121544245,14147963198,4197.55601,-7612.96008,4514,3090,87,22.68,10609,20237
Sonder,2517132868,1175332896,3909.55849,-7103.58856,20451,2784,43,8.65,9216,26555
...,...,...,...,...,...,...,...,...,...,...
Jerbean,819956,9269794,40.68615,-73.93095,75,2,38,0.51,1,365
Jerald,14784557,767764,40.76688,-73.99402,200,3,31,0.94,1,51
Jeonghoon,31089176,12625165,40.69160,-73.95961,42,1,0,0.00,1,0
Jeny,20888611,150038776,40.76462,-73.93190,35,1,16,1.37,1,95
현선,26139678,18497228,40.80485,-73.96534,1200,60,0,0.00,1,365

2. How many listings have completely open availability?

In [243]:
air_bnb.groupby(['host_name']).sum().sort_values('calculated_host_listings_count', ascending = False)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaT,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaT,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaT,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaT,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaT,NaN,1,23

3. What room_types have the highest review numbers?

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --